@if(Request.IsAuthenticated)
{
    <ul class="navbar navbar-nav navbar-right">
        <li class="navbar-text">
            
            Hello, @User.Identity.Name
        </li>
        @Html.ActionLink("Sign Out","SignOut","Account")
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
      
    </ul>
}
